@use "../abstracts/variables" as a;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #e2241aeb;
  z-index: 200;
  transition: box-shadow 0.4s;
  box-shadow: a.$light-shadow;
}

.nav {
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: a.$first-font;
}
.nav__logo {
  color: a.$white;
  font-family: a.$second-font;
  text-shadow: a.$light-shadow;
}
.logo img {
  width: 200px;
  vertical-align: middle;
  margin-left: -20px;
  transition: a.$basic-transition;

  &:hover {
    transform: scale(1.05);
  }
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  color: a.$white;
  transition: a.$basic-transition;
  i {
    transition: a.$basic-transition;
  }

  &:hover {
    transform: scale(1.25);
    text-shadow: a.$dark-shadow;
  }
}
//To fix the bugs of the burger menu icon still showing when menu toggled is to removed the hover effect.

/* Navigation for mobile devices */

@media screen and (max-width: 1280px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: a.$secondary-red;
    width: 70%;
    height: 100%;
    padding: 4rem 1.5rem 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
    box-shadow: 100px 0 100px hsla(0, 0%, 0%, 0.15);
  }
}

.nav__list,
.nav__social {
  display: flex;
}
.nav__list {
  flex-direction: column;
  row-gap: 2rem;
}
.nav__link {
  color: a.$white;
  font-size: a.$h2-font-size;
  font-weight: a.$font-regular;
  transition: color 0.4s;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: a.$basic-transition;
  gap: 15px;

  h5 {
    font-size: a.$paragraph-font-size;
  }
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  transition: a.$basic-transition;

  &:hover {
    transform: scale(1.25);
    text-shadow: a.$dark-shadow;
  }
}
.nav__social {
  column-gap: 1rem;
  align-self: flex-end;
}
.nav__social-link {
  color: a.$white;
  font-size: 1.5rem;
  transition: color 0.4s;
}

/* Show menu */
.show-menu {
  left: 0;
}
/* Shadow header */
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.15);
}

/* Active link */
.active-link {
  color: a.$secondary-red;
}

.nav__link:hover {
  transform: scale(1.05);
  text-shadow: a.$dark-shadow;
}
