@use "../abstracts/variables" as a;

.hero-section {
  background-color: a.$secondary-red;
}

#explode-view-mobile {
  width: 100vw;
  display: block;
}

#explode-view-desktop {
  width: 100vw;
  display: none;
}

@media screen and (min-width: 720px) {
  #explode-view-mobile {
    display: none;
  }

  #explode-view-desktop {
    display: block;
  }
}
