@use "../abstracts/variables" as a;

// First Introduction

.intro-sec {
  background-color: a.$secondary-red;
  padding-top: 100px;
  padding-bottom: 30px;
}

.intro-text {
  font-family: a.$first-font;
  font-size: a.$normal-font-size;
  color: a.$white;
  font-weight: a.$font-light;
  margin-top: 40px;
  text-align: center;
}

.intro-button {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid white;
  font-family: a.$second-font;
  font-size: a.$h3-font-size;
  padding: 10px 0 10px 0;
  font-weight: a.$font-semi-bold;
  text-align: center;
  transition: a.$basic-transition;
  border-radius: 35px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  h5 {
    color: white;
    font-size: a.$h3-font-size;
  }

  &:hover {
    background-color: white;
    transform: scale(1.05);
    box-shadow: a.$light-shadow;

    h5 {
      color: a.$secondary-red;
    }
  }
}

// Video Introduction

.capstone-sec {
  background-color: a.$secondary-red;
  padding-top: 75px;
  padding-bottom: 150px;
}

.video-player {
  background-color: a.$primary-red;
  height: max-content;
  box-shadow: a.$light-shadow;
  border-radius: 35px; /* added this to make the video player Rounded corners */
  overflow: hidden;
}

.capstone-project-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 25px;
  margin-top: 50px;
}

.capstone-text {
  display: flex;
  gap: 15px;

  i {
    color: a.$white;
    padding-top: 5px;
  }

  p {
    font-family: a.$first-font;
    font-size: a.$normal-font-size;
    color: a.$white;
    font-weight: a.$font-light;
  }
}

// Video Player

:root {
  --plyr-color-main: #e2231a;
  --plyr-control-icon-size: 1rem;
  --plyr-control-radius: 35px;
  --plyr-video-controls-background: linear-gradient(
    rgba(0, 0, 0, 0),
    #b3272eb7
  );
  --plyr-font-family: "Poppins", sans-serif;
}

.plyr--video .plyr__controls {
  padding: 25px;
}
