@use "../abstracts/variables" as a;

.developers-sec {
  background-color: a.$white;
  padding-top: 125px;
  padding-bottom: 25px;

  article {
    margin-top: 50px;
  }
}

.portfolios-sec {
  background-color: a.$white;
  padding-top: 125px;
  padding-bottom: 125px;
}

.title-con {
  margin-bottom: 50px;
}

.card-dev {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: a.$primary-red;
  border-radius: 35px;
  cursor: pointer;

  img {
    border-radius: 31px;
    box-shadow: a.$light-shadow;
  }
}

.card-dev-info {
  background-color: #f8f8f8fa;
  border-radius: 20px;
  padding-top: 15px;
  position: absolute;
  align-self: center;
  width: 90%;
  bottom: -50px;
  box-shadow: a.$dark-shadow;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.13, 0.96, 0.39, 2.03);
  cursor: pointer;
  line-height: 110%;
  font-family: a.$first-font;

  h5 {
    font-family: a.$first-font;
    font-size: a.$h3-font-size;
    font-weight: 800;
    color: a.$primary-red;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    font-family: a.$first-font;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    color: a.$mild-gray;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card-dev-link {
  padding: 10px 15px 15px 15px;
  border-radius: 0 0 20px 20px;
  transition: a.$basic-transition;
  background-color: a.$primary-red;

  a {
    color: a.$white;
    font-family: a.$second-font;
    font-style: italic;
    font-size: 10px;
    line-height: 8px;
    width: 100%;
    cursor: pointer;
  }

  &:hover {
    background-color: a.$dark-gray;
    color: white;
  }
}

.card-dev:hover .card-dev-info {
  opacity: 1;
  transform: scale(1);
  bottom: -5px;
  z-index: 100;
}

.card__button {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 16px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card__button_filter {
  display: inline-block;
  background-color: a.$white;
  border: 2px solid a.$primary-red;
  font-size: a.$paragraph-font-size;
  padding: 0.5rem 1.5rem;
  border-radius: 35px;
  color: a.$primary-red;
  font-family: a.$first-font;
  cursor: pointer;
}

.card__button_filter:hover {
  background-color: a.$primary-red;
  color: a.$white;
  transition: 0.3s ease-in-out;
}

.card__button_filter.active {
  background-color: a.$primary-red;
  color: a.$white;
}

/*  Added rule for the div Container of Student Portfolios showcase */

.div-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.student {
  background-color: a.$white;
  border: 1px solid a.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  border: 2px solid #e2e2e2e1;
  width: 140px;

  h3 {
    margin: 0;
    font-size: a.$h3-font-size;
    font-family: a.$first-font;
    color: a.$dark-gray;
    font-weight: 800;
  }

  p {
    margin: 5px 0 10px 0;
    color: a.$mild-gray;
    font-size: 12px;
    font-style: italic;
    font-family: a.$first-font;
    font-weight: 200;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    color: a.$primary-red;
    text-decoration: none;
    font-family: a.$second-font;
    font-weight: 600;
    font-size: 12px;

    background-color: a.$white;
    border: 0px solid a.$mild-gray;
    border-radius: 35px;
    padding: 5px 5px 5px 0;
    text-align: left;
    width: 100%;
  }

  &:hover {
    background-color: white;
    border: 1px solid a.$primary-red;
    transform: scale(1.03);
    box-shadow: a.$dark-shadow;
    color: a.$primary-red;

    h3 {
      color: a.$primary-red;
    }

    a {
      color: a.$primary-red;
      padding-left: 10px;
      text-align: left;
      background-color: a.$primary-red;
      color: a.$white;
      transition: a.$basic-transition;
    }
  }
}

.student a:hover {
  text-decoration: underline;
  box-shadow: a.$light-shadow;
  background-color: a.$dark-gray;
}
