@use '../abstracts/variables' as a;

/* ---Mobile Styles--- */
@media (min-width: 345px) {
    
}

/* ---Tablet Styles--- */
@media screen and (min-width: 768px) {
    
    .slide {
        flex-direction: row;
        gap: 50px;

        img {
            width: 48%;
        }
    }
    
    .desktop-image {
        display: inline;
    }

    .testimonial-image-con {
        margin-top: -75px;
    }

    .testimonial-image {
        margin-top: -15px;
    }

    .testimonial-quote {

        margin-left: 25px;

        p {
            margin-bottom: 30px;
        }
    }

    .testimonial-bio {
        margin-left: 25px;
    }

    .student {
        width: 200px;
    }

    .footer {
        
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .footer-con {
        justify-items: right;
        padding-top: 50px;
    }

    .footer-buttons {
        width: 300px;
    }

}

/* ---Desktop Styles--- */
@media screen and (min-width: 1200px) {

    .scrollup {
        right: 3rem;
    }

    .nav {
        height: 5rem;
      }
      .nav__toggle,
      .nav__close {
        display: none;
      }
      .nav__link {
        font-size: a.$normal-font-size;
      }
      .nav__menu {
        display: flex;
        column-gap: 3rem;
        align-items: center;
      }
      .nav__list {
        flex-direction: row;
        column-gap: 4rem;
      }

    .testimonial-image-con {
        margin-top: -75px;
        height: 200px;
    }

    .testimonial-image {
        height: 200px;
    }

    .card-dev-info {
      
        h5 {
          font-family: a.$second-font;
          font-size: a.$h3-font-size;
          color: a.$primary-red;
          margin-bottom: 10px;
          padding-left: 15px;
          padding-right: 15px;
        }
      
        h6 {
          font-family: a.$second-font;
          color: a.$dark-gray;
          font-size: 13px;
          margin-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      
      .card-dev-link {
        background-color: a.$secondary-red;
        padding: 15px 15px 15px 15px;
        border-radius: 0 0 15px 15px;
        cursor: pointer;

        a {
            font-size: 14px;
        }
    }

    .student {
        width: 250px;
    }
}  