@use '../abstracts/variables' as a;

.testimonials-sec {
    background-color: a.$white;
    padding-top: 125px;
    padding-bottom: 25px;
}

#testimonial-slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}
  
.testimonial-slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.testimonial-slide.active {
    display: flex;
    opacity: 1;
}
  
.testimonial-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: var(--first-color) 5px solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
  
.testimonial-text {
    flex: 1;
}
  
.main-text {
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
  
.testimonial-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 50px;
}
  
.sub-text {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 0;
    margin-left: 50px;
    font-style: italic;
}

.button-container2 {
    display: flex;
    justify-content: center;
    gap: 3px;
    bottom: 20px;
}
  
#prev-btn2, #next-btn2 {
    background-color: a.$primary-red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}